@{
    ViewData["Title"] = "About";
    if ((bool)ViewData["admin"]) {
        Layout = "_LayoutAdmin";
    }
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This webpage is developed as part of a bachelor project at the Technical University of Denmark.</p>
<p>All content is for educational purposes only.</p>
    <p>Weather forecast from Yr, delivered by the Norwegian Meteorological Institute and NRK</p>
