@{
    ViewData["Title"] = "Route calculation";
    if ((bool)ViewData["admin"]) {
        Layout = "_LayoutAdmin";
    }
}
<h2>@ViewData["Title"]</h2>

<script type="text/javascript">

	var apiKey = '@(ViewData["apiKey"])';
    var baseUrl = '@(ViewData["baseUrl"])';   
</script>        

<div class="row">
    <div class="col-xs-12">
        <div id="travelInfo" style="display: none">
            <div id="btnNewRoute">
                <input type="button" class="btn btn-info" value="New Route" onclick="newRoute()" />
            </div>

            <div>
                <table class="col-sm-6" style="overflow-x:auto;">
                    <tr>
                        <td>
                            <text class="travelinfo">Estimated traveltime:</text>
                        </td>
                        <td>
                            <text id="travelTime"></text>
                        </td>
                        <td>
                            <text class="travelinfo"> Base traveltime:</text>
                        </td>
                        <td>
                            <text id="baseDuration"></text>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <text class="travelinfo">Travel Distance:</text>
                        </td>
                        <td>
                            <text id="distance"></text>
                        </td>
                        <td>
                            <text class="travelinfo">Temperature:</text>
                        </td>
                        <td>
                            <text id="temperature"></text>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <text class="travelinfo">Wind Speed:</text>
                        </td>
                        <td>
                            <text id="windspeed"></text>
                        </td>
                        <td>
                            <text class="travelinfo">Wind Direction:</text>
                        </td>
                        <td>
                            <text id="winddirection"></text>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <text class="travelinfo">precipitation:</text>
                        </td>
                        <td>
                            <text id="precipitation"></text>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="loader" id="loader" style="display:none"></div>
</div>
<div class="row">
    <div id="inputs" style="display:block">
        <div class="col-xs-7 col-sm-6 col-md-3">
            <div class="form-group">
                <label>Start</label>
                <div class="col-md-offset-0">
                    <input class="text-box single-line" data-val="true" id="startAddressField" name="StartAddress" type="text" />
                </div>
            </div>
            <div class="form-group">
                <label>Destination</label>
                <div class="col-md-offset-0">
                    <input class="text-box single-line" data-val="true" id="destinationAddressField" name="StartAddress" type="text" />
                </div>
            </div>
            <div class="form-group">
                <label>Date & Time</label>
                <div class="col-md-offset-0">
                    <input class="text-box single-line" type="date" data-val="true" id="dateTimeField"/>
                </div>
            </div>
            <input type="button" class="btn btn-info" value="Find Route" id="btnFind" onclick="calcRoute()" />
        </div>
    </div>
    <div class="col-xs-10 col-sm-6 col-md-3">
        <div id="mapid"></div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.min.js"></script>
<script src="https://dawa.aws.dk/js/autocomplete/dawa-autocomplete2.min.js"></script>
