@{
    ViewData["Title"] = "Route calculation";
    if ((bool)ViewData["admin"]) {
        Layout = "_LayoutAdmin";
    }
}
<h2>@ViewData["Title"]</h2>

<script type="text/javascript">

	var apiKey = '@(ViewData["apiKey"])';
	var baseUrl = '@(ViewData["baseUrl"])';   

</script>

<div class="row">

    <div class="col-xs-7 col-sm-6 col-md-3">
            <div class="form-group">
			    <label>Start</label>
			    <div class="col-md-offset-0">
				    <input class="text-box single-line" data-val="true" id="startAddressField" name="StartAddress" type="text" />
			    </div>
		    </div>
		    <div class="form-group">
                <label>Destination</label>
                <div class="col-md-offset-0">
                    <input class="text-box single-line" data-val="true" id="destinationAddressField" name="StartAddress" type="text" />
                </div>
            </div>
		    <div class="form-group">
                <label>Date & Time</label>
                <div class="col-md-offset-0">
                    <input class="text-box single-line" type="date" data-val="true" id="dateTimeField" />
                </div>
            </div>
		    <input type="button" value="Find Route" id="btnFind" onclick="calcRoute()" />
    </div>
    <div class="col-xs-7 col-sm-6 col-md-3">
	    <div id="mapid"></div>
	</div>
</div>